<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="infrastructure_assemblies" value="AllanGray.TwitterDisplayProvider;AllanGray.TwitterSubscriberManager;AllanGray.TwitterTweetProvider"/>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
</configuration>